:local(.footer_area) {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    background-image: none !important;
    background-color: #fcf8ff;
    text-align: center;
    font: 500 14px/100px "Rubik", sans-serif;
}
